@import '../../../partials/_variables';
@import '../../../partials/_mixin';

.MainVideo__details{
    margin: 0rem 1rem 1.5rem;
    
    @include tablet {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
}

.heading__inner {
    width: 18rem;
    display: flex;
    }

.iconDetail {
    display: flex;
    justify-content: space-between;

        & img{
            margin-right: 0.5rem;
        }
}

.heading {
    @include text (1.5rem, 2rem);
    font-family: 'AvenirBold';
    margin: 0;

    @include tablet{
        @include text(2.25rem, 2.75rem); 
    }

    @media screen and (min-width:20.0625rem) and (max-width: 47.9375rem){
        @include text (1.5rem, 2rem);
    }
}
.subHeading {
    @include text (0.875rem, 1.375rem);
    font-family: 'AvenirDemi';

    @include tablet{
        @include text(1rem, 1.5rem);
       
    }
}

.HeroDescrip {
    @include text (0.8125rem, 1.125rem);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-family: 'AvenirRegular';

    @include tablet{
        margin-top: 2.5rem;
        @include text(0.875rem, 1.375rem);
        width: 32.5rem; 
        margin-bottom: 4rem; 
    }
}
.HeroDescrip--mod {
    @include text (0.875rem, 1.375rem);
    font-family: 'AvenirBold';
    font-weight: bold;  

    @include tablet {
        margin-bottom: 2rem;
        @include text (0.875rem, 1.375rem)
    }
}
.divider{
    border-bottom: 0.0625rem solid $mercury;

    @include tablet {
        border-bottom: 0;
        // align-self: flex-end;
        // transform: translateY(-3.6875rem)
    }
    @media screen and (min-width:25rem) and (max-width: 47.9375rem){
       width: 100%;
    }
}
.channel {
    margin-right: 0.5rem;

    @include desk {
        @include text(1.5rem, 2rem);
    }
}
.iconDetail--mod{
    margin-right: 2.5rem;
}
.wtf{

    @media screen and (min-width:31.25rem) and (max-width: 47.9375rem){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }   
    @include tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 0.0625rem solid $mercury;
        padding-bottom: 1.5rem;
    }
    
}

.silver{
    color: $silver;

    @include desk {
        @include text(1.5rem, 2rem);
    }
}