@import "../../../Global/_mixin.scss";
@import "../../../Global/_variables.scss";

.mainVideo {
  width: 100%;
  width: 80;
  height: auto;

  @include tablet {
    height: 25rem;
  }

  @include desk {
    height: 33.75rem;
  }
}

.mainVideo__bg {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}
