@import "../../../Global/_mixin.scss";
@import "../../../Global/_variables.scss";

.mainVideo {
  height: auto;
  width: 80%;

  @include tablet {
    height: 25rem;
  }

  @include desk {
    height: 33.75rem;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.mainVideo__bg {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}
