@font-face {
    font-family: AvenirRegular;
    src: url("../assets/_Global Font/AvenirNextProLT/Alternative files/Linotype - Avenir Next LT Pro.ttf") 
    format("ttf"), 
  }

  @font-face{
      font-family: AvenirDemi;
      src: url('../assets/_Global Font/AvenirNextProLT/Alternative files/Linotype\ -\ Avenir\ Next\ LT\ Pro\ Demi.ttf')
      format("ttf"),
  }

  @font-face{
    font-family: AvenirBold;
    src: url('../assets/_Global Font/AvenirNextProLT/Alternative files/Linotype - Avenir Next LT Pro Bold.ttf')
    format("ttf"),
}