@import '../../../Global/_mixin.scss';
@import '../../../Global/_variables.scss';

.HeroDescrip {
    @include text(0.8125rem, 1.125rem);
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-family: "AvenirRegular";
  
    @include tablet {
      margin-top: 2.5rem;
      @include text(0.875rem, 1.375rem);
      width: 32.5rem;
      margin-bottom: 4rem;
    }
  }
  .HeroDescrip--mod {
    @include text(0.875rem, 1.375rem);
    font-family: "AvenirBold";
    font-weight: bold;
  
    @include tablet {
      margin-bottom: 2rem;
      @include text(0.875rem, 1.375rem);
    }
  }