@import '../../../partials/_mixin.scss';
@import '../../../partials/_variables.scss';

.fakeAvatar {
    @include fakeAvatar;
}

.comment__box {
    width: 234px;
}

.comm__subheading{
    width: 234px;
    display: flex;
    justify-content: space-between;
    @include text(14px, 22px);
}

.comment__container {
    display: flex;
    justify-content: space-between;
    margin: 48px 16px 0;
}

.comment__p{
    @include text(14px, 22px);
}
.bold{
    font-weight: bold;
}

.date {
    color: $silver;
}